In [2]:
("Python Basics")

'Python Basics'

In [3]:
tuple1 = ("since",90,1.2 )
tuple1

('since', 90, 1.2)

In [5]:
L = ["GhadeerAsiri", 1.4, 2002]
L

['GhadeerAsiri', 1.4, 2002]

In [1]:
my_dict = {1: 'apple', 2: 'ball'}

In [7]:
# Import the libraries
import time
import sys
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [13]:
# Import the libraries 
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Create a python list
a = ["0", 1, "two", "3", 4]

In [6]:
# Print each element
print("a[0]:", a[0])
print("a[1]:", a[1])
print("a[2]:", a[2])
print("a[3]:", a[3])
print("a[4]:", a[4])

a[0]: 0
a[1]: 1
a[2]: two
a[3]: 3
a[4]: 4

In [15]:
# Create a list
a = [[11, 12, 13], [21, 22, 23], [31, 32, 33]] 
a

[[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [16]:
# Convert list to numpy array
# Every element is the same type
A = np.array(a)
A

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [23]:
# Show the numpy array dimensions 
A.ndim

2

In [21]:
# Access to the value by the key Dict["key1"]
Dict[0, 1]

6

In [19]:
# Create the dictionary
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4
), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [24]:
# Access to the value by the key Dict["key1"]
Dict["key1"]

1

In [25]:
# Show the numpy array shape
A.shape

(3, 3)

In [26]:
# Show the numpy array size
A.size

9

In [38]:
#Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock",
"disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [93]:
# Convert list to set  
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock",
"soul", \
"progressive rock", "soft rock", "R&B", "disco"
 ])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [94]:
#Condition Equal

a=5
a==6

False

In [80]:
# Greater than Sign 
i=6
i>5

True

In [49]:
# Greater than Sign
i=2 
i>5

False

In [81]:
# Inequality Sign
i=2
i !=6

True

In [51]:
# Inequality Sign
i=6 
i != 6

False

In [86]:
#Use Equality sign to compare the strings
"ACDC"=="Michael Jackson"

False

In [87]:
#Use Inequality sign to compare the strings
"ACDC"!="Michael Jackson"

True

In [88]:
# Compare characters
'B' > 'A'

True

In [89]:
# Compare characters
'BA' > 'AB'

True

In [57]:
# Use the range
range(3)

range(0, 3)

In [58]:
# For loop example
dates = [1982,1980,1973]
N = len(dates)
for i in range(N):
            print(dates[i])

1982
1980
1973

In [60]:
# Example of for loop 
for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [61]:
# Exmaple of for loop, loop through list
for year in dates:
    print(year)

1982
1980
1973

In [63]:
# Use for loop to change the elements in list
squares = ['red', 'yellow', 'green', 'purple', 'blue']
for i in range(0, 5):
    print("Before square ", i, 'is', squares[i]) 
    squares[i] = 'white'
    print("After square ", i, 'is', squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [64]:
# Loop through the list and iterate on both index and element value
squares=['red', 'yellow', 'green', 'purple', 'blue']


for i, square in enumerate(squares): 
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [71]:
# Define a function for multiple two numbers
def Mult(a, b):
    c = a * b 
    return(c)
    print('This is not printed') 
result = Mult(12,2)
print(result)

24

In [72]:
# Use mult() multiply two integers 
Mult(2, 3)

6

In [74]:
# Use mult() multiply two floats 
Mult(10.0, 3.14)

31.400000000000002

In [75]:
# Use mult() multiply two different type values together 
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [95]:
import matplotlib.pyplot as plt

class Circle(object):

    def init(self, radius = 3, color = 'blue'):
        self.radius = radius
        self.color = color
        
        
       
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)

    def drawCircle(self):
        plt.gca().add_patch(plt.Circle((0,0), radius = self.radius, fc = self.color))
        plt.axis('scaled')
        plt.show()

In [96]:
import urllib.request
url='https://lms.kku.edu.sa/'
filename = 'Examplel.txt'
urllib.request.urlretrieve(url,filename)

('Examplel.txt', <http.client.HTTPMessage at 0x1e429dba940>)

In [97]:
exmp2 ='http.client.HTTPMessage at 0x2a4ab11a640' 
with open(exmp2, 'a') as writefile:
    writefile.write("This is line A")